.container {
  position: relative;
  display: flex;
  width: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  height: 38px;
  width: 38px;
  cursor: pointer;
  margin: 0 3px;
  background: white;
}

.active {
  border: 2px solid #a9d3a3;
  color: #a9d3a3;
  box-shadow: none;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
